Repository Academic-Developers/Thinktopia-Plataforma-de-actividades-Academicas, pull requests merged in 2025-09, with the labels that each got.

#200 Contenido dinamico del Main
  frontend/public/portfolios/portfolio_cesia/assets/Cesia_Caceres_CV.pdf
  frontend/public/portfolios/portfolio_cesia/assets/bar-chart.svg
  frontend/public/portfolios/portfolio_cesia/assets/chat.svg
  frontend/public/portfolios/portfolio_cesia/assets/code.svg
  frontend/public/portfolios/portfolio_cesia/assets/lightbulb-fill.svg
  frontend/public/portfolios/portfolio_cesia/assets/palette.svg
  frontend/public/portfolios/portfolio_cesia/assets/tools.svg
  frontend/public/portfolios/portfolio_cesia/assets/translate.svg
  frontend/public/portfolios/portfolio_cesia/portfolio_cesia.css
  frontend/public/portfolios/portfolio_cesia/portfolio_cesia.html
  frontend/src/app/features/alumno/alumno-module.ts
  frontend/src/app/features/auth/pages/login/login.html
  frontend/src/app/features/docente/components/dashboard-docente-header/dashboard-docente-header.ts
  frontend/src/app/features/main/pages/about/about.html
  frontend/src/app/features/main/pages/about/about.ts
  frontend/src/app/features/main/pages/home/home.html
  frontend/src/app/features/main/pages/home/home.ts
Labels: frontend, Prioridad Alta, Angular, Cuarto Sprint

#203 Feat:Cree el service de Auth con API de Reqres
  frontend/.gitignore
  frontend/src/app/app.config.ts
  frontend/src/app/features/auth/pages/login/login.html
  frontend/src/app/features/auth/pages/login/login.ts
  frontend/src/app/features/auth/pages/register/register.html
  frontend/src/app/features/auth/pages/register/register.ts
  frontend/src/app/features/main/pages/home/home.html
  frontend/src/app/services/auth-service.spec.ts
  frontend/src/app/services/auth-service.ts
Labels: feature, Prioridad Alta, Angular, Cuarto Sprint

#226 Agrega: Servicio para gestionar el material de estudio del docente y alumno | Script de base de datos PostgreSQL
  frontend/db.json
  frontend/diagrama-clase.wsd
  frontend/src/app/features/alumno/pages/material-estudio-alumno/material-estudio-alumno.css
  frontend/src/app/features/alumno/pages/material-estudio-alumno/material-estudio-alumno.html
  frontend/src/app/features/alumno/pages/material-estudio-alumno/material-estudio-alumno.spec.ts
  frontend/src/app/features/alumno/pages/material-estudio-alumno/material-estudio-alumno.ts
  frontend/src/app/features/docente/components/dashboard-docente-header/dashboard-docente-header.html
  frontend/src/app/features/docente/docente-routing-module.ts
  frontend/src/app/features/docente/pages/material-estudio-docente/material-estudio-docente.css
  frontend/src/app/features/docente/pages/material-estudio-docente/material-estudio-docente.html
  frontend/src/app/features/docente/pages/material-estudio-docente/material-estudio-docente.spec.ts
  frontend/src/app/features/docente/pages/material-estudio-docente/material-estudio-docente.ts
  frontend/src/app/models/materiales-models/materiales-models.ts
  frontend/src/app/services/material-estudio/material-estudio.spec.ts
  frontend/src/app/services/material-estudio/material-estudio.ts
  scriptdb.sql
Labels: frontend, backend, Cuarto Sprint, Services
